@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

@font-face {
    .space-mono-regular {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }

    .space-mono-bold {
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-style: normal;
    }

    .space-mono-regular-italic {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: italic;
    }

    .space-mono-bold-italic {
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-style: italic;
    }

}

#welcome-text {
    animation: bounce 3s ease-out infinite
}

@keyframes bounce {
    0% {
        transform: translateY(20%)
    }

    35% {
        transform: translateY(0)
    }

    100% {

        transform: translateY(20%)
    }
}
